<mat-toolbar color="primary">
  <a routerLink="/home">
    <img src="assets/BrotherLogo.jpg" alt="Self-Help Group Logo" class="logo" width="50" />
  </a>
    <span class="title">Broter's-Helping Group</span>
    <span class="spacer"></span>
     
      <!-- Full Menu (Visible on Large Screens) -->
      <div class="full-menu">
        <button mat-button routerLink="/home">
          <mat-icon>home</mat-icon> Home
        </button>
        <button mat-button routerLink="/team">
          <mat-icon>group</mat-icon> Team
        </button>
        <button mat-button routerLink="/contribution">
          <mat-icon>volunteer_activism</mat-icon> Contribution
        </button>
        <button mat-button routerLink="/about-us">
          <mat-icon>info</mat-icon> About Us
        </button>
      </div>
      

   <!-- Mobile Menu (Three Dots) -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </button>
    <button mat-menu-item routerLink="/team">
      <mat-icon>group</mat-icon> Team
    </button>
    <button mat-menu-item routerLink="/contribution">
      <mat-icon>volunteer_activism</mat-icon> Contribution
    </button>
    <button mat-menu-item routerLink="/about-us">
      <mat-icon>info</mat-icon> About Us
    </button>
  </mat-menu>
  
   
  </mat-toolbar>
  <span class="spacer"></span>
  <router-outlet></router-outlet>
  
