<mat-toolbar color="primary">
  <a routerLink="/home">
    <img src="/assets/BrotherLogo.jpg" alt="Self-Help Group Logo" class="logo" />
  </a>
    <span class="title">Broter's-Helping Group</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/team">Team</button>
    <button mat-button routerLink="/contribution">Contribution</button>
    <button mat-button routerLink="/about-us">About Us</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
  
