  .spinner-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
    }

    .no-data {
      text-align: center;
      padding: 1.5rem;
      color: #888;
      font-style: italic;
    }

    .active-row {
  background-color: #d0f5d3 !important; /* light green */
}

 .member-table {
    margin-top: 20px;
    width: 100%;
  }

.pending-row {
  background-color: #f8d0d0 !important; /* light red */
}