<div class="contribution-container">

  <div class="card" *ngFor="let item of contributions">

    <img [src]="item.imageUrl" alt="Contribution Image">

    <div class="card-content">

      <h3>{{ item.title }}</h3>

      <p class="location">
        📍 {{ item.location }}
      </p>

      <p class="date">
        {{ item.date | date:'mediumDate' }}
      </p>

      <p class="description">
        {{ item.isExpanded ? item.description : (item.description | slice:0:140) + '...' }}
      </p>

      <button class="read-btn" (click)="item.isExpanded = !item.isExpanded">
        {{ item.isExpanded ? 'Show Less' : 'Read More' }}
      </button>

    </div>

  </div>

</div>
