<div class="page-container">

  <div class="form-card">

    <h2>{{ eventId ? 'Edit Event' : 'Add Upcoming Event' }}</h2>

    <form [formGroup]="eventForm" (ngSubmit)="submit()">

      <!-- ROW 1 -->
      <div class="form-row">

        <div class="form-group">
          <label>Event Title</label>
          <input
            type="text"
            formControlName="title"
            placeholder="Enter event title"
          />
        </div>

        <div class="form-group">
          <label>Location</label>
          <input
            type="text"
            formControlName="location"
            placeholder="Enter location"
          />
        </div>

      </div>

      <!-- ROW 2 -->
      <div class="form-row">

        <div class="form-group">
          <label>Event Date</label>
          <input
            type="date"
            formControlName="eventDate"
          />
        </div>

        <div class="form-group">
          <label>Upload Banner</label>
          <input
            type="file"
            (change)="onFileChange($event)"
          />
        </div>

      </div>

      <!-- ROW 3 -->
      <div class="form-row">

        <div class="form-group">
          <label>Sponsor</label>
          <input
            type="text"
            formControlName="sponsor"
            placeholder="Enter sponsor name"
          />
        </div>

        <div class="form-group">
          <label>Event Video URL</label>
          <input
            type="text"
            formControlName="videoUrl"
            placeholder="Paste video link"
          />
        </div>

      </div>

      <!-- IMAGE PREVIEW -->

      <div class="form-group image-preview" *ngIf="previewImage">
        <img [src]="previewImage">
      </div>

      <!-- DESCRIPTION -->

      <div class="form-group full-width">

        <label>Description</label>

        <textarea
          rows="4"
          formControlName="description"
          placeholder="Write event description..."
        ></textarea>

      </div>

      <button type="submit" class="save-btn">
        {{ eventId ? 'Update Event' : 'Save Event' }}
      </button>

    </form>

  </div>

</div>