<div class="container">
  <app-global-loader [loading]="isLoading"></app-global-loader>
  <div class="top-bar">
    <h2>Upcoming Events</h2>

    <button mat-raised-button color="primary"
      routerLink="/admin/add-event">
      + Add Event
    </button>
  </div>

  <div class="grid">

    <div class="event-card" *ngFor="let event of events">

      <!-- EVENT IMAGE -->
      <div class="event-image" *ngIf="event.imageUrl">
        <img [src]="event.imageUrl">
        <span class="status-badge" [ngClass]="getStatus(event.eventDate)">
          {{ getStatus(event.eventDate) }}
        </span>
      </div>

      <div class="event-body">

        <h3>{{event.title}}</h3>

        <p>
          <mat-icon>calendar_today</mat-icon>
          {{event.eventDate | date:'mediumDate'}}
        </p>

        <p>
          <mat-icon>location_on</mat-icon>
          {{event.location}}
        </p>

        <p *ngIf="event.sponsor">
          <mat-icon>volunteer_activism</mat-icon>
          Sponsor: {{event.sponsor}}
        </p>

      </div>

      <div class="actions">

        <button class="video-btn"
          *ngIf="event.videoUrl"
          (click)="openVideo(event.videoUrl)">
          <mat-icon>play_circle</mat-icon>
        </button>

        <button class="edit-btn"
          (click)="edit(event.id)">
          <mat-icon>edit</mat-icon>
        </button>

        <button class="delete-btn"
          (click)="delete(event.id)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

    </div>

  </div>

</div>