
<app-toolbar></app-toolbar>

  <!-- Footer Section -->
  <footer class="footer">
    <p>&copy; 2025 Self-Help Group. All Rights Reserved.</p>
    <p class="visitor-count">👁️ Visitors: {{ visitorCount }}</p>

    <div class="social-icons">
      <button mat-icon-button>
        <a href="https://www.facebook.com/profile.php?id=100085596288115" target="_blank" rel="noopener noreferrer">
          <mat-icon>facebook</mat-icon>
        </a>
      </button>
      <button mat-icon-button>
        <a mat-icon-button 
   color="primary" 
   href="https://chat.whatsapp.com/JNqzwMTkqn68cMjaq3VNii?mode=ac_t" 
   target="_blank" 
   aria-label="Join WhatsApp Group">
  <mat-icon class="fa-brands fa-whatsapp"></mat-icon>
</a>
      </button>
      
      <button mat-icon-button>
        <a href="https://www.instagram.com/brothershelpinggroup/" target="_blank" rel="noopener noreferrer">
          <mat-icon  class="fa-brands fa-instagram">instagram</mat-icon>
        </a>
      </button>
    </div>
  </footer>

