<app-global-loader *ngIf="isLoading" [loading]="isLoading"></app-global-loader>
<div class="search-pagination-wrapper" *ngIf="!isLoading">
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Search Member</mat-label>
    <input matInput [(ngModel)]="searchTerm"  placeholder="Enter name or address" />
  </mat-form-field>

  <div class="team-grid">
    <mat-card class="team-card" *ngFor="let member of filteredMembers | slice: startIndex:endIndex" >
      <img [src]="member.profileImage" alt="{{ member.name }}" class="team-photo" />
      <mat-card-content class="team-info">
        <h3 class="team-name">{{ member.name }}</h3>
        <p class="team-address">{{ member.address }}</p>
        <p class="member-type">
           {{ getMembershipEmoji(member.membership) }} 
   <span class="amount">{{ member.membership }} ₹</span> <span class="period">per month</span>
</p>
      </mat-card-content>
       <mat-card-actions align="end">
    <button mat-stroked-button color="primary" (click)="openMemberModal(member)">View Details</button>
  </mat-card-actions>
    </mat-card>
  </div>

  <!-- Pagination Controls -->
  <!-- Pagination Controls & Page Size -->
  <div class="pagination-wrapper">
    <div class="pagination-controls">
      <button mat-stroked-button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button mat-stroked-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>

    <mat-form-field appearance="outline" class="page-size-box">
      <mat-label>Page Size</mat-label>
      <mat-select [(ngModel)]="pageSize" (selectionChange)="applySearch()">
        <mat-option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
