<div class="search-pagination-wrapper">
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Search Member</mat-label>
    <input matInput [(ngModel)]="searchTerm"  (ngModelChange)="applySearch()" placeholder="Enter name or address" />
  </mat-form-field>

  <div class="team-grid">
    <mat-card class="team-card" *ngFor="let member of filteredMembers | slice: startIndex:endIndex">
      <img [src]="member.adharImage" alt="{{ member.name }}" class="team-photo" />
      <mat-card-content class="team-info">
        <h3 class="team-name">{{ member.name }}</h3>
        <p class="team-address">{{ member.address }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination-controls">
    <button mat-stroked-button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button mat-stroked-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
