<div class="sidebar">
  <ul>
    <li class="menu-item">
      <a routerLink="/admin/dashboard" (click)="onLinkClick()">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/admin/member" (click)="onLinkClick()">
        <mat-icon>group</mat-icon> Member
      </a>
    </li>

    <li>
      <a routerLink="/admin/manage-posts" (click)="onLinkClick()">
        <mat-icon>post_add</mat-icon> Post
      </a>
    </li>

    <li>
      <a routerLink="/admin/contribution-list" (click)="onLinkClick()">
        <mat-icon>volunteer_activism</mat-icon> Contribution
      </a>
    </li>

    <li>
      <a routerLink="/admin/events" (click)="onLinkClick()">
        <mat-icon>event</mat-icon> Event
      </a>
    </li>
    <li>

      <a mat-list-item routerLink="/admin/add-blog">
        <mat-icon>menu_book</mat-icon>Blogs
      </a>

    </li>
    <li>
      <a routerLink="/admin/request" (click)="onLinkClick()">
        <mat-icon>mail</mat-icon> Request
      </a>
    </li>

    <li>
      <a routerLink="/admin/settings" (click)="onLogout()">
        <mat-icon>logout</mat-icon> Logout
      </a>
    </li>
  </ul>
</div>