<div class="sidebar">
  <ul>
    <li class="menu-item">
      <a routerLink="/admin/dashboard" (click)="onLinkClick()">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/admin/member" (click)="onLinkClick()">
        <mat-icon>Add member</mat-icon> Member
      </a>
    </li>
    <li>
      <a routerLink="/admin/request" (click)="onLinkClick()">
        <mat-icon>book</mat-icon> Request
      </a>
    </li>

    <li>
      <a routerLink="/admin/settings" (click)="onLogout()">
        <mat-icon>logout</mat-icon> Logout
      </a>
    </li>
  </ul>
</div>
