<div class="container">
   <app-global-loader [loading]="isLoading"></app-global-loader>
  <div class="top-bar">
    <h2>Blogs</h2>

    <button  routerLink="/admin/add-blog" mat-raised-button color="primary">
      + Add Blog
    </button>
  </div>

  <div class="grid">

    <div class="blog-card" *ngFor="let blog of blogs">

      <!-- IMAGE -->
      <div class="blog-image" *ngIf="blog.imageUrl">
        <img [src]="blog.imageUrl">
      </div>

      <!-- CONTENT -->
      <div class="blog-body">

        <h3>{{blog.title}}</h3>

        <p class="excerpt">
          {{blog.content | slice:0:100}}...
        </p>

        <div class="meta">
          <span>✍️ {{blog.author}}</span>
          <span>📅 {{blog.createdAt?.toDate?.() | date:'mediumDate'}}</span>
        </div>

      </div>

      <!-- ACTIONS -->
      <div class="actions">

        <button class="icon-btn edit" (click)="edit(blog.id)">
          <mat-icon>edit</mat-icon>
        </button>

        <button class="icon-btn delete" (click)="delete(blog.id)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

    </div>

  </div>


</div>